<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS load -->
    <link rel="stylesheet" type="text/css" media="all" href="dist/css/cropper.css">
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <!-- Javascript load -->
    <script type="text/javascript" src="dist/js/vue.js"></script>
    <script type="text/javascript" src="dist/js/Vibrant.min.js"></script>
    <script type="text/javascript" src="dist/js/cropper.min.js"></script>
    <script type="text/javascript" src="dist/js/bootstrap.bundle.min.js"></script>
    <title>ThumbnailGenerator(Ver0.0.5)</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-light">
      <div class="container-fluid">
        <p id="logo">Wasemikan</p>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home(FontEdit)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../3DGen/index.html">WallpaperGen</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="main">
      <div class="row">
        <div id="controlPanel" class="col-3">
          <div id="sourceImage">
            <p>Source</p>
            <canvas id="sourceCanvas"></canvas>
            <div id="indicator" class="d-block mx-auto">
              <p>Indicator : </p>
            </div>
          </div>
          <div id="TitleEdit" class="editList">
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">MainControl</button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                  <div class="accordion-body">
                    <div class="col">
                      <p>Text</p>
                      <form name="Title">
                        <div>
                          <input type="text" name="caption" placeholder="Text" aria-label="Text" value="Hello.">
                        </div>
                      </form>
                    </div>
                    <div id="controlButton" class="row-cols-1">
                      <div class="col">
                        <p>Control</p>
                        <label id="File">
                          <input type="file" id="uploader">Open 
                        </label>
                        <button id="Download" type="button">Download </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">AspectSetting</button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                  <div class="accordion-body">
                    <div class="col">
                      <p>Aspect Ratio</p>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="AspectRatio" id="AspectRatio5" value="2.333333">
                        <label class="form-check-label" for="exampleRadios5">21:9</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="AspectRatio" id="AspectRatio1" value="1.777777" checked>
                        <label class="form-check-label" for="exampleRadios1">16:9</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="AspectRatio" id="AspectRatio2" value="1.333333">
                        <label class="form-check-label" for="exampleRadios2">4:3</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="AspectRatio" id="AspectRatio3" value="1.5">
                        <label class="form-check-label" for="exampleRadios3">3:2</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="AspectRatio" id="AspectRatio4" value="1.0">
                        <label class="form-check-label" for="exampleRadios4">1:1</label>
                      </div>
                      <button id="aspectRatio">Submit </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTen">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTen" aria-expanded="false" aria-controls="panelsStayOpen-collapseTen">PresetEffect(beta)</button>
                </h2>
                <div id="panelsStayOpen-collapseTen" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTen">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col-6">
                        <button id="Grayish" type="button" class='presetButton'>Grayish </button>
                      </div>
                      <div class="col-6">
                        <button id="Vivid" type="button" class='presetButton'>Vivid </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTen">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTen" aria-expanded="false" aria-controls="panelsStayOpen-collapseTen">Preset</button>
                </h2>
                <div id="panelsStayOpen-collapseTen" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTen">
                  <div class="accordion-body">
                  </div>
                </div>
              </div> -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingNine">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseNine">Utility</button>
                </h2>
                <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingNine">
                  <div class="accordion-body">
                    <div class="col">
                      <p>Utility</p>
                      <button id="Reload">Reload </button>
                      <button id="GenMode" onclick="location.href='../3DGen/index.html'">Wallpaper Gen</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="PhotoView" class="col-9">
          <div id="PhotoWrapper" class="row">
            <div id="ImageFilter" class="col-2">
              <p>ImageFilter</p>
              <div id="filterParam">
                <div class="filter">
                  <p id="indiBrightness">Brightness:</p>
                  <input type="range" class="form-range" id="inputBrightness" min="0" max="200" step="1" value="100">
                </div>
                <div class="filter">
                  <p id="indiContrast">Contrast:</p>
                  <input type="range" class="form-range" id="inputContrast" min="0" max="200" step="1" value="100">
                </div>
                <div class="filter">
                  <p id="indiSaturate">Saturate:</p>
                  <input type="range" class="form-range" id="inputSaturate" min="0" max="200" step="1" value="100">
                </div>
                <div class="filter">
                  <p id="indiGrayscale">GrayScale:</p>
                  <input type="range" class="form-range" id="inputGrayScale" min="0" max="100" step="1" value="0">
                </div>
                <div class="filter">
                  <p id="indiSepia">Sepia:</p>
                  <input type="range" class="form-range" id="inputSepia" min="0" max="100" step="1" value="0">
                </div>
                <div class="filter">
                  <p id="indiHue">Hue:</p>
                  <input type="range" class="form-range" id="inputHue" min="0" max="360" step="1" value="0">
                </div>
                <div class="filter">
                  <p id="indiOpacity">Opacity:</p>
                  <input type="range" class="form-range" id="inputOpacity" min="0" max="1.0" step="0.01" value="1.0">
                </div>
                <div class="filter">
                  <p id="indiBlur">Blur:</p>
                  <input type="range" class="form-range" id="inputBlur" min="0" max="20" step="1" value="0">
                </div>
                <div class="filter">
                  <p id="indiInvert">Invert:</p>
                  <input type="range" class="form-range" id="inputInvert" min="0" max="100" step="1" value="0">
                </div>
                <button id="ResetParam">Reset</button>
              </div>
            </div>
            <div id="croppedImage" class="col-10">
              <p>Result</p>
              <canvas id="croppedCanvas"></canvas>
              <img id="output" src="">
            </div>
            <div id="FontEdit" class="editList col-6">
              <div class="contents">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">FontStyle</button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingThree">
                      <div class="accordion-body">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="fontDraw" name="fontBold" v-model="isChecked" v-on:change="setFontDraw" value="yes" checked>
                          <label class="form-check-label" for="Draw">Draw</label>
                        </div>
                        <input type="color" id="inputFontColor" value="#ffffff" list="defaultcolors">
                        <datalist id="defaultcolors"></datalist>
                        <input type="color" id="inputFontBackColor" value="#0068b7" list="defaultcolors">
                        <datalist id="defaultcolors"></datalist>
                        <select id="fontStyle" class="form-select form-select-lg mb-3" aria-label=" example" value="Train-One">
                          <optgroup label="-JPFont-"></optgroup>
                          <option id="IPAex" value="IPAex">IPAex明朝</option>
                          <option id="Timemachine-wa" value="Timemachine-wa">タイムマシンわ号</option>
                          <option id="Senobi-Gothic" value="Senobi-Gothic">せのびゴシック</option>
                          <option id="Kiwimaru" value="Kiwimaru">キウイ丸</option>
                          <option id="Kosugi-Maru" value="Kosugi-Maru">小杉丸</option>
                          <option id="KleeOne" value="KleeOner">クレーワン</option>
                          <option id="Kirin" value="Kirin">キリン</option>
                          <optgroup label="-WorldFont-"></optgroup>
                          <option id="Archivo-Narrow" value="Archivo-Narrow">Archivo-Narrow</option>
                          <option id="Cardo" value="Cardo">Cardo</option>
                          <option selected id="CornerStone" value="CornerStone">CornerStone</option>
                          <option id="inconsolata" value="inconsolata">inconsolata</option>
                          <option id="Lato" value="Lato">Lato</option>
                          <option id="Manrope" value="Manrope">Manrope</option>
                          <option id="Montserrat" value="Montserrat">Montserrat</option>
                          <option id="Neuton" value="Neuton">Neuton</option>
                          <option id="Oraniebaum" value="Oraniebaum">Oraniebaum</option>
                          <option id="Prokopis" value="Prokopis">Prokopis</option>
                          <option id="Rampart-One" value="Rampart-One">Rampart-One</option>
                          <option id="Smarta" value="Smarta">Smarta</option>
                          <option id="Train-One" value="Train-One">Train-One</option>
                        </select>
                        <label class="form-check-label">
                          <input type="checkbox" id="fontBold" v-model="isChecked" v-on:change="setBold">  Bold 
                        </label>
                        <label class="form-check-label">
                          <input type="checkbox" id="fontItalic" v-model="isChecked" v-on:change="setItalic">  Italic 
                        </label>
                        <label class="form-check-label">
                          <input type="checkbox" id="fontOutLine" v-model="isChecked" v-on:change="setOutLine">  Outline 
                        </label>
                        <label class="form-check-label">
                          <input type="checkbox" id="fontEmphasis" v-model="isChecked" v-on:change="setEmphasis">  Em 
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">FontParam</button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                      <div class="accordion-body">
                        <p>Size</p>
                        <input type="range" class="form-range" id="inputFontSize" min="0" max="100" step="1" value="20">
                        <p>Rotate</p>
                        <input type="range" class="form-range" id="inputFontRotate" min="0" max="360" step="1" value="0">
                        <p>LetterSpacing</p>
                        <input type="range" class="form-range" id="inputFontSpacing" min="0" max="200" step="10" value="10">
                        <p>LineWidth</p>
                        <input type="range" class="form-range" id="inputFontLineWidth" min="0" max="150" step="5" value="10">
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">FontLocator</button>
                    </h2>
                    <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
                      <div class="accordion-body">
                        <p>LocateX</p>
                        <p id="indifX"></p>
                        <input type="range" class="form-range" id="inputFontLocateX" min="-50" max="50" step="10" value="0">
                        <p>LocateY</p>
                        <p id="indifY"></p>
                        <input type="range" class="form-range" id="inputFontLocateY" min="-50" max="50" step="10" value="0">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="ShapeEdit" class="editList col-6">
              <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="true" aria-controls="panelsStayOpen-collapseFive">ShapeStyle</button>
                  </h2>
                  <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingFive">
                    <div class="accordion-body">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="drawShape" v-model="isChecked" v-on:change="setShapeDraw" value="yes" checked>
                        <label class="form-check-label" for="Draw">Draw</label>
                      </div>
                      <input type="color" id="inputShapeColor" value="#aaaaaa" list="defaultcolors">
                      <label>
                        <input type="checkbox" id="drawBackGround" v-model="isChecked" v-on:change="setBackGround">  BackGround(Only) 
                      </label>
                      <datalist id="defaultcolors"></datalist>
                      <select id="shapeType" class="form-select form-select-lg mb-3" value="Arc">
                        <option selected id="Arc" value="Arc">Arc</option>
                        <option id="Square" value="Square">Square</option>
                        <option id="justify-Rect" value="justify-Rect">justify-Rect</option>
                        <option id="Line" value="Line">Line</option>
                        <option id="Sector" value="Sector">Sector</option>
                        <option id="Polygon" value="Polygon">Polygon</option>
                      </select>
                      <label>
                        <input type="checkbox" id="drawShapeDash" v-model="isChecked" v-on:change="setShapeDash">  Dash 
                      </label>
                      <label>
                        <input type="checkbox" id="drawShapeFill" v-model="isChecked" v-on:change="setShapeFill">  Fill 
                      </label>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">ShapeParam</button>
                  </h2>
                  <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                    <div class="shapeParam accordion-body">
                      <p>Size</p>
                      <input type="range" class="form-range" id="inputShapeSize" min="0" max="1000" step="10" value="100">
                      <p>Rotate</p>
                      <input type="range" class="form-range" id="inputShapeRotate" min="0" max="360" step="15" value="0">
                      <p>Opacity</p>
                      <input type="range" class="form-range" id="inputShapeOpacity" min="0" max="1.0" step="0.1" value="1.0">
                      <p>LineWidth</p>
                      <input type="range" class="form-range" id="inputShapeLineWidth" min="0" max="300" step="10" value="10">
                      <p>DashInterval(Optional)</p>
                      <input type="range" class="form-range" id="inputShapeDash" min="0" max="150" step="1" value="1">
                      <p>SectorAngle(Optional)</p>
                      <input type="range" class="form-range" id="inputSectorAngle" min="0" max="360" step="5" value="45">
                      <p>PolygonVertexSize(Optional)</p>
                      <input type="range" class="form-range" id="inputVertexSize" min="3" max="12" step="1" value="3">
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingEight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight">ShapeLocator</button>
                  </h2>
                  <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEight">
                    <div class="shapeParam accordion-body">
                      <p>LocateX</p>
                      <p id="indisX"></p>
                      <input type="range" class="form-range" id="inputShapeLocateX" min="-50" max="50" step="10" value="0">
                      <p>LocateY</p>
                      <p id="indisY"></p>
                      <input type="range" class="form-range" id="inputShapeLocateY" min="-50" max="50" step="10" value="0">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer py-0 bg-light">
      <div class="container">
        <span class="text-muted">Copyright © 2022 Team.A All rights reserved.</span>
      </div>
    </footer>
  </body>
  <!-- Javascript load -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/parts.css">
  <script src="js/common.js"></script>
  <script src="js/component.js"></script>
  <script src="js/crop.js"></script>
</html>