html,body {
    user-select: none;
}

label {
    font-size: 12px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

#Title {
    text-align: left;
    margin-bottom:-24px;
}


#Edit{
    padding-top: 30px;
}

#sourceCanvas {
    background-image: radial-gradient(rgba(233, 233, 233, 1), rgba(172, 172, 172, 1));
    justify-content: center;
    max-height:500px;
    width:96%;
    margin:6px;
}

#croppedCanvas {
    background-image: radial-gradient(rgba(233, 233, 233, 1), rgba(172, 172, 172, 1));
    justify-content: center;
    max-height:500px;
    width:96%;
    margin:6px;
}

h1 {
    font-size:20px;
    margin-left: 5px;
    margin-bottom: 5px;
    color:#bbb;
    font-family: 'Archivo-Narrow';
    letter-spacing: 1px;
}

p {
    font-size: 12px;
    letter-spacing: 1px;
    color:#aaa;
    font-family: 'Archivo-Narrow';
}

#explain{
    font-family: 'Kosugi-Maru';
}

#output {
    width:100%;
    display:none;
}

.accordion {
    padding:10px;
}

.setParam {
    padding: 5px;
}

.editView {
    display: flex;
    margin : 5px;
    border: 1px dotted #333333;
    border-radius: 7px;
    padding-top: 4px;
    margin: -1px;
}

.imageItem {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.preView {
    display: flex;
    justify-content:left;
    padding: 30px;
    margin : 10px;
    border: 1px dotted #333333;
    border-radius: 7px;
}

/* Fontselect*/
#Kiwimaru-Light{font-family:'Kiwimaru-Light';}
#Kiwimaru-Regular{font-family:'Kiwimaru-Regular';}
#Kosugi-Maru{font-family:'Kosugi-Maru';}
#KleeOne-Regular{font-family:'KleeOne-Regular';}
#KleeOne-SemiBold{font-family:'KleeOne-SemiBold';}
#Train-One{font-family:'Train-One';}
#Rampart-One{font-family:'Rampart-One';}

#Archivo-Narrow{font-family:'Archivo-Narrow';}
#Cardo{font-family:'Cardo';}
#inconsolata{font-family:'inconsolata';}
#Lato{font-family:'Lato';}
#Manrope{font-family:'Manrope';}
#Montserrat{font-family:'Montserrat';}
#Neuton{font-family:'Neuton';}

/* 基本装飾 */
header {
    background: rgb(3, 111, 141);
    padding: .5rem;
    text-align: right;
  }
  a {
    color: #fff;
    text-decoration: none;
    font-family: 'Archivo-Narrow';
  }
  li {
    margin: 2rem 0;
  }
  
  /* ボタン */
  .btn-menu {
    border: 1px solid #999;
    background: transparent;
    color: #fff;
    padding: .5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1;
  }
  
/* メニュー */
nav {
    /* background: rgba(255,255,255,0); */
    background: #aaaaaa;
    position: absolute;
    z-index: 1;
    top: 3.125rem;
    right: 0;
    overflow-x: hidden;
    text-align: left;
    width: 0;
    transition: .5s;
}
/* メニューを開いた時 */
nav.open-menu {
width:  100%;
height: 100%;
}

/* モバイル向けのスタイル */
/* 768px 未満 */
@media not screen and (min-width: 768px) {
    #controlPanel  {
        flex-wrap: wrap;
    }
    .editView  {
        flex-wrap: wrap;
    }
    #output {
        width:100%;
    }
    /* .cropper-container div{
        width:100%;
    } */
}

/* デスクトップ向けのスタイル */
/* 768px 以上 */
@media screen and (min-width: 768px) {
   
}


@media (prefers-color-scheme: dark) {
    body {
      background-color: #243447;
      color: #eeeeee;
    }

    .controlPanel {
        border: 1px dotted #cccccc;
    }

    .editView  {
        border: 1px dotted #cccccc;
    }

    .preView  {
        border: 1px dotted #cccccc;
    }
}
