body {
    user-select: none;
}

canvas{
    background-color: #ddd;
    width:100%;
}

h1 {
    padding-bottom:12px;
}


p {
    font-size: 12px;
}

#controlPanel {
    display: flex;
    padding-top : 12px;
    justify-content:left;
    margin : 10px;
    border: 1px dotted #333333;
    border-radius: 7px;
}

.setParam {
    padding: 20px;
}

.editView {
    display: flex;
    justify-content:left;
    padding: 20px;
    margin : 10px;
    border: 1px dotted #333333;
    border-radius: 7px;
}

@media screen and (min-width: 800px) {
    #controlPanel  {
        flex-wrap: wrap;
    }
    .editView  {
        flex-wrap: wrap;
    }
}

@media (prefers-color-scheme: dark) {
    body {
      background-color: #243447;
      color: #eeeeee;
    }

    #controlPanel {
        border: 1px dotted #cccccc;
    }

    .editView  {
        border: 1px dotted #cccccc;
    }
}
